:root {
    --accent-color: #2196f3;
    --text-color-p: #524949; /*text color */
    --text-color-h: #16018d; /*header color */
    --text-color-hover: #ffffff;
    --bg-color-section: #ffffff;
    --bg-color-btn: #16018d;
    --text-color-btn: #fdf90f;
    --bg-color-btn-hover: #fdf90f;
    --text-color-btn-hover: #16018d;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.17;
    color: var(--text-color-p);
    background-color: var(--bg-color-section);
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

.section {
    margin: 0 auto;
    background-color: var(--bg-color-section);
}
.section__title {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 50px;
    width: 100%;
    color: var(--text-color-h);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: left;
    letter-spacing: 0.03em;
}
.section__sub-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--text-color-h);
    text-align: center;
}
.client-banks-created {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}
.banklist-container,
.bankinfo-container {
    width: 45%;
    margin: 0px 20px 0;
    display: flex;
    flex-flow: column;
}
.banklist,
.infolist {
    display: flex;
    flex-flow: column;
}
.banklist__item {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid var(--text-color-p);
    box-shadow: 0px 2px 2px var(--text-color-p);
    box-sizing: border-box;
    transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}
.banklist__item:hover,
.banklist__item:focus {
    color: var(--text-color-btn-hover);
    background-color: var(--bg-color-btn-hover);
}
.banklist__item p {
    margin-right: auto;
}
.infolist__item {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    border-bottom: 1px dashed var(--text-color-p);
    box-sizing: border-box;
}
.bank-info-data {
    font-weight: 700;
}
.btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 1px solid var(--text-color-p);
    cursor: pointer;
    transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-edit,
.btn-close {
    margin: 0;
    margin-right: 1px;
    padding: 0;
    width: 35px;
    height: 100%;
    background-color: inherit;
    fill: var(--bg-color-btn);
    border: none;
    transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}
svg.btn-edit,
svg.btn-close {
    height: inherit;
}
.btn-edit:hover,
.btn-close:hover,
.btn-edit:focus,
.btn-close:focus {
    background-color: var(--bg-color-btn);
    fill: var(--bg-color-btn-hover);
}
.btn-create-bank {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    color: var(--text-color-btn);
    background-color: var(--bg-color-btn);
    transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-create-bank:hover,
.btn-create-bank:focus {
    color: var(--text-color-btn-hover);
    background-color: var(--bg-color-btn-hover);
}
